body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    transition: background-color 0.5s ease;
}

#color{
    padding: 15px;
    border: 1px solid;
    font-size: 1.2rem;
    font-weight: bold;
    color: #270303;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(32, 14, 14, 0.2);
    
}

#color:hover{
    background-color: hsl(208, 68%, 71%);
}

#color:active{
    transform: scale(0.95);
}

.fondo_nuevo{
    background-color: rgb(240, 164, 158);
}